<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido | Diario Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <section class="grid-container">
    <h2>Comentarios</h2>
    <!-- Mostrar los comentarios existentes -->
    <% if (comentariosPublicacion && comentariosPublicacion.length > 0) { %>
        <% comentariosPublicacion.forEach(comment => { %>
            <p><strong><%= comment.Correo %>:</strong> <%= comment.Texto %></p>
        <% }); %>
    <% } else { %>
        <p>No hay comentarios.</p>
    <% } %>

    <!-- Formulario para agregar comentario -->
    <h3>Comentar</h3>
    <form action="/comentarios" method="post">

        <label for="Correo">Correo:</label>
        <input type="email" id="Correo" name="Correo" required>

        <label for="Texto">Texto del comentario:</label>
        <input type="text" id="Texto" name="Texto" maxlength="200" required>

        <!-- Pasa el valor de publicacionId desde el controlador -->
        <input type="hidden" id="publicacionId" name="publicacionId" value="<%= typeof postId !== 'undefined' ? postId : 'not found' %>">
        
        <div class="button">
            <button type="submit">Agregar Comentario</button>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
    <script>
        // Extract post ID from the URL
        const postId = window.location.pathname.split('/').pop();

        // Set the value of the hidden input field
        document.getElementById('publicacionId').value = postId;
    </script>
    </section>
  </body>
</html>
