<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion | Diario Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">
    <style>
      body {
        background-color: #f4f4f4;
      }

      .login-container {
        margin-top: 50px;
      }

      .login-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .login-form label {
        font-weight: bold;
      }

      .login-form input[type="text"],
      .login-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 3px;
      }

      .login-form button {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="cell medium-6 login-container">
        <h2>Iniciar Sesion</h2>

        <!-- Formulario de inicio de sesion -->
        <form action="/login" method="post" class="login-form">
          <label for="Nombre">Nombre de Usuario:</label>
          <input type="text" id="Nombre" name="Nombre" required>

          <label for="password">Contrasena:</label>
          <input type="password" id="Contrasena" name="Contrasena" required>

          <button type="submit" class="button">Iniciar Sesion</button>
        </form>
      </div>
    </div>
  </body>
</html>
